<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">
    <test name="CurrentInCollection">
        <classes>
            <class name="org.openweather.tests.current_weather.ByCityIdTest"/>
            <class name="org.openweather.tests.current_weather.ByCityNameAndCountryCodeTest"/>
            <class name="org.openweather.tests.current_weather.ByCityNameCountryCodeAndUnitsTest"/>
            <class name="org.openweather.tests.current_weather.ByCityNameWithUnitsTest"/>
        </classes>
    </test> <!-- Test -->
    <test name="CurrentInTask">
        <classes>
            <class name="org.openweather.tests.current_weather.CurrentWeatherForBrestTest"/>
        </classes>
    </test> <!-- Test -->
    <test name="FiveDaysThreeHoursInCollection">
        <classes>
            <class name="org.openweather.tests.five_days_three_hours_weather.ByCityIdTest"/>
            <class name="org.openweather.tests.five_days_three_hours_weather.ByCityNameTest"/>
        </classes>
    </test> <!-- Test -->
    <test name="FiveDaysThreeHoursInTask">
        <classes>
            <class name="org.openweather.tests.five_days_three_hours_weather.fiveDaysForecastForCitiesTest"/>
        </classes>
    </test> <!-- Test -->
    <test name="GismeteoTests">
        <classes>
            <class name="org.gismeteo.tests.BrestCurrentWeatherTest"/>
        </classes>
    </test> <!-- Test -->
</suite>